.password-wrapper {
        background-color: #D1181F;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        /* justify-content: center; */
        font-size: calc(10px + 2vmin);
        color: white;
    
}
.password-details {
    padding-top: 18%;
    padding-right: 10%;
    padding-left: 10%;
}
.password-details .form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    color: white;
    border-radius: 0px;

}

.password-details .form-control:focus {
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    box-shadow: none;
    caret-color: white;
    color: white;
    font-size: 15px;
    opacity: 1;

}
.password-input {
    margin-top: 25px;
    margin-bottom: 50px;
}
.password-details .form-control::placeholder {
    color: white;
    opacity: 0.9;
}
.password-details h1 {
    font-size: 45px;
    font-weight: bold;
}
.password-button {
    margin-top: 30px;
    width: 100%;
    color: black !important;
    height: 50px;
    font-size: 18px !important;
    font-weight: bold !important;
    background-color: white !important;
    border-radius: 50px !important;
}