.success-div {
    background-color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    font-size: calc(10px + 2vmin);
    color: black;
}
.success-img {
    margin-top: 200px;
}
.success-text {
    margin-top: 20px;
}
.success-text h3 {
    text-align: center;
    font-weight: bold;
}
.success-btn {
    position: absolute;
    background-color: #000075 !important;
    bottom: 60px;
    font-size: 18px !important;
    font-weight: bold !important;
    border-radius: 50px !important;
    height: 50px;
    width: 85%;
}